    </div>
    
      </div>
  <div id="footer">
  <div id="site_nav">
    <ul>
      <li><a href="#">广告服务</a></li>
      <li><a href="#">网站地图</a></li>
      <li><a href="#">联系我们</a></li>
      <li class="last"><a href="#">友情链接</a></li>
       </li>
    </ul>
  </div>
  <div id="copyright">
    &copy; 2013 iGearBook.com    <a href="http://www.miibeian.gov.cn">沪ICP备13024167号 </a><br/>
<span>装备网有限公司  版权所有</span><br /><br />
<span>免责声明：本网站仅允许不开锋的工艺刀具收藏与鉴赏，各位朋友购买以后请勿带到公共场所，否则触犯相关法律法规条例，本网站不承担法律责任！</span>
<br /><br />
    <#if !debug>
     <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F00416c1ff5a341660ffb2a00324e9be0' type='text/javascript'%3E%3C/script%3E"));
</script>
    </#if>
  </div>
</div>

    </div>
    <div class="back-to-top" style="z-index:1000;left: 1205.5px; position: fixed; bottom: 0px; display: none;">
        <a href="#" style="top: 0px;" title="回到顶部">↑回顶部</a>
    </div>
  </body>
</html>