<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("zh-CN")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>${pageTitle?default("")?html}</title>
    <meta name="description" content="${metaDescription?default("")?html}" />
    <meta name="keywords" content="${metaKeywords?default("")?html}" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta property="qc:admins" content="247221672161751227736375" />
     <#-- 
    <link href="/rss/forum" rel="alternate" title="ITeye" type="application/rss+xml" />
    <link rel="search" type="application/opensearchdescription+xml" href="/open_search.xml" title="ITeye" />
    -->
    <link href="${contextPath}/templates/${templateName}/styles/style.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
    <link href="${contextPath}/templates/${templateName}/styles/${language}.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
    <link href="${contextPath}/templates/${templateName}/styles/forum.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
    <#if hasCodeBlock>
    <link href="{contextPath}/templates/${templateName}/styles/SyntaxHighlighter.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
    </#if>
    <#if hasCodeBlock>
    <#include "highlighter_js.htm"/>
    </#if>
    <script type="text/javascript">
if(location.href.match(/http:\/\/igearbook\.com.*/i)){
    var url = location.href.replace("http://igearbook.com", "http://www.igearbook.com");
    document.location = url;
}
</script>
<noscript>
<h1>iGearBook.com</h1>
<p>Javascript must be enabled to access the website. 
Please check your browser settings or use a Javascript-capable browser.</p>
</noscript>
  </head>
  <body class="${language}">
    <div id="header">
        <div id="top_nav">
        <div class="clearfix inner">
            <div id="user_nav">
                <#-- logged begin -->
                <#if logged>
                    <a href="${JForumContext.encodeURL("/user/edit/${session.userId}")}"  class="welcome">${I18n.getMessage("Admin.welcome")}${session.username}</a>
                    <#if !sso>
                        <a href="${JForumContext.encodeURL("/user/logout")}" class="nobg">${I18n.getMessage("ForumBase.logout")}</a>
                    </#if>
                    <a href="${JForumContext.encodeURL("/pm/inbox")}" target="_blank" class="nobg">
                    <#if (session.privateMessages > 0)>
                        ${I18n.getMessage("ForumBase.newPm")}: (${session.privateMessages})
                    <#else>
                        ${I18n.getMessage("ForumBase.privateMessages")}
                     </#if>
                     </a>
                     <#if bookmarksEnabled>
                          <a href="${JForumContext.encodeURL("/bookmarks/list/${session.userId}")}" class="nobg">${I18n.getMessage("Bookmarks.myBag")}</a>
                     </#if>
                </#if>
                <#-- logged end -->
                
                <#if !logged && !sso>
                    <a href="${JForumContext.encodeURL("/user/login")}" class="welcome" title="${I18n.getMessage("ForumBase.login")}">${I18n.getMessage("Admin.notYetLogin")}</a>
                    <a href="${JForumContext.encodeURL("/user/login")}" class="nobg">${I18n.getMessage("ForumBase.login")}</a>
                    <a href="${contextPath}/qqapi/login.action" class="qqlogin">QQ登录</a>
                    <a href="${JForumContext.encodeURL("/user/insert")}" class="nobg">${I18n.getMessage("ForumBase.register")}</a>
                </#if>
                <#if canAccessModerationLog?default(false)>
                    <a href="${JForumContext.encodeURL("/moderation/showActivityLog")}" class="nobg">${I18n.getMessage("ModerationLog.moderationLog")}</a>
                </#if>
                <#if session?exists && (session.isAdmin() || session.isWebAdmin())>
                    <a href="${contextPath}/recommend/manage.action" class="nobg">推荐文章管理</a>
                </#if>
                <#if session?exists && session.isAdmin()>
                    <a href="${JForumContext.encodeURL("/admBase/login")}" target="_blank" class="nobg">${I18n.getMessage("ForumBase.admin")}</a>
                </#if>
            </div>
        </div>
        </div>
        
        <div class="clearfix inner">
          <div id="branding">
            <a href="${contextPath}/" title="${pageTitle?default("Forum")?html}"><img alt="装备网Logo" src="${contextPath}/templates/${templateName}/images/logo3.png" width="194" height="70" /></a>
          </div>
          <#--
          <div id="gg"><img src="${contextPath}/templates/${templateName}/images/topba.jpg" /></div>
            -->
        </div>
      </div>
    <div id="page">

      <div id="content" class="clearfix">

<#macro navHeader currentChannel="">
        <div id="nav">
    <#assign indexClass="" />
    <#assign searchClass="" />
    <#assign recentTopicClass="" />
    <#assign hotTopicClass="" />
    <#assign userListClass="" />
    <#assign teamClass="" />
    <#assign bbsClass="" />
    
    <#if currentChannel=="index">
        <#assign indexClass="selected" />
    <#elseif currentChannel=="search">
        <#assign searchClass="selected" />
    <#elseif currentChannel=="recentTopic">
        <#assign recentTopicClass="selected" />
    <#elseif currentChannel=="hotTopic">
        <#assign hotTopicClass="selected" />
    <#elseif currentChannel=="userList">
        <#assign userListClass="selected" />
    <#elseif currentChannel=="team">
        <#assign teamClass="selected" />
    <#elseif currentChannel=="bbs">
        <#assign bbsClass="selected" />
    </#if>
      <div class="wrapper">
        <ul>
          <li class="first ${indexClass}"><a href="${contextPath}/">${I18n.getMessage("ForumBase.index")}</a></li>
          <#--
          <li><a href="${JForumContext.encodeURL("/recentTopics/list")}" class="${recentTopicClass}">${I18n.getMessage("ForumBase.recentTopics")}</a></li>
          <li><a href="${JForumContext.encodeURL("/hottestTopics/list")}" class="${hotTopicClass}">${I18n.getMessage("ForumBase.hottestTopics")}</a></li>
          -->
          <li class="${bbsClass}"><a href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></li>
          <li class="${teamClass}"><a href="${contextPath}/team/list.action">群组</a></li>
          <li class="${userListClass}"><a href="${JForumContext.encodeURL("/user/list")}">${I18n.getMessage("ForumBase.usersList")}</a></li>
          <li class="${searchClass}"><a href="${JForumContext.encodeURL("/search/filters")}">${I18n.getMessage("ForumBase.search")}</a></li>
        </ul>
      </div>
    </div>
            <#if message?exists>
            <div style="text-align:center;margin: 35px 0 0px 0;"><img src="${contextPath}/images/icon_pass.gif" alt="Pass icon" />&nbsp;<span style="color: #008000;font-size: 12px;font-weight:bold;">${message}</span></div>
            </#if>
        <div id="main">
        
</#macro>